<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
	<listeners>
		<listener class-name="com.employeeapi.utilities.Listners" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.employeeapi.testcases.TC001_All_Employees" />
			<class name="com.employeeapi.testcases.TC005_Delete_Employee" />
			<class name="com.employeeapi.testcases.TC002_Single_Employee" />
			<class name="com.employeeapi.testcases.TC004_Update_Employee" />
			<class name="com.employeeapi.testcases.TC003_Post_Employee" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->